<app-header></app-header>

<body style="background-attachment: fixed; background-position: center bottom;
      background-repeat: no-repeat;background-size: cover;
      object-fit: cover;">

<h3>Add Contract</h3>
<p style="text-align: center;">
  <a href="../../../../../../contract/list.html" style="color: white">
    Back to list contract
  </a>
</p>
<div class="container" style="text-align: center">
  <div id="form" style="display: inline-block; text-align: left">

    <form [formGroup]="createContractForm" (ngSubmit)="onSubmit()" novalidate>

      <label for="startDate">Start date: </label>
      <input type="date" id="startDate" name="contractStartDate" value="" formControlName="contractStartDate">
      <div *ngIf="createContractForm.controls.contractStartDate.hasError &&
      (createContractForm.controls.contractStartDate.touched || createContractForm.controls.contractStartDate.dirty)">
        <div *ngIf="createContractForm.controls.contractStartDate.hasError('required')">
          <p class="error">Start date is not valid!</p>
        </div>
      </div>

      <label for="endDate">End date: </label>
      <input type="date" id="endDate" name="contractEndDate" value="" formControlName="contractEndDate">
      <div *ngIf="createContractForm.controls.contractEndDate.hasError &&
      (createContractForm.controls.contractEndDate.touched || createContractForm.controls.contractEndDate.dirty)">
        <div *ngIf="createContractForm.controls.contractEndDate.hasError('required')">
          <p class="error">End date is not valid!</p>
        </div>
      </div>


      <label for="deposit">Deposit: </label>
      <input type="text" id="deposit" name="contractDeposit" value="" formControlName="contractDeposit">
      <div *ngIf="createContractForm.controls.contractDeposit.hasError &&
      (createContractForm.controls.contractDeposit.touched || createContractForm.controls.contractDeposit.dirty)">
        <div *ngIf="createContractForm.controls.contractDeposit.hasError('required')">
          <p class="error">Deposit is not valid!</p>
        </div>

        <div *ngIf="createContractForm.controls.contractDeposit.hasError('pattern')">
          <p class="error">Wrong format!</p>
        </div>
      </div>


      <label for="employee">Employee name: </label>
      <select id="employee" name="employee" formControlName="employeeName">
        <option *ngFor="let employeeName of employees" value="{{employeeName}}">
          {{employeeName}}
        </option>
      </select>
      <div *ngIf="createContractForm.controls.employeeName.hasError &&
      (createContractForm.controls.employeeName.touched || createContractForm.controls.employeeName.dirty)">
        <div *ngIf="createContractForm.controls.employeeName.hasError('required')">
          <p class="error">Employee is not valid!</p>
        </div>
      </div>

      <label for="customer">Customer name: </label>
      <select id="customer" name="customer" formControlName="customerName">
        <option *ngFor="let customerName of customers">{{customerName}}</option>
      </select>
      <div *ngIf="createContractForm.controls.customerName.hasError &&
      (createContractForm.controls.customerName.touched || createContractForm.controls.customerName.dirty)">
        <div *ngIf="createContractForm.controls.customerName.hasError('required')">
          <p class="error">Customer is not valid!</p>
        </div>
      </div>

      <label for="service">Service name: </label>
      <select id="service" name="services" formControlName="servicesName">
        <option *ngFor="let serviceName of services">{{serviceName}}</option>
      </select>
      <div *ngIf="createContractForm.controls.servicesName.hasError &&
      (createContractForm.controls.servicesName.touched || createContractForm.controls.servicesName.dirty)">
        <div *ngIf="createContractForm.controls.servicesName.hasError('required')">
          <p class="error">Service is not valid!</p>
        </div>
      </div>

      <div style="text-align: center">
        <input type="submit" value="Create">
      </div>
    </form>

  </div>
</div>

<app-footer></app-footer>
