<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Furama</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/employees/list">Employee</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../customer/list.html">Customer</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../services/list.html">Service</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contracts/list">Contract</a>
        </li>
      </ul>
    </div>

    <!--                <div>-->

    <!--                    <h4 style="float: right; color: deepskyblue">-->
    <!--                        Welcome: <span>dbadmin1</span>-->
    <!--                        <span><a href="/logout" style="color: gray">Logout</a>-->
    <!--                    </span></h4>-->

    <!--                </div>-->

  </div>
</nav>
