.cusdetail {
    font-size: 200%;
}

a {
    text-decoration: none;
}

h3 {
    background-color: lightskyblue;
    color: white;
    text-align: center;
    padding: 10px 0 10px 20px;
}

div .error {
    color: red;
}

footer {
    margin: 10px 0;
}

#customers, #services {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th, #services td, #services th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even), #services tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover, #services tr:hover {
    background-color: #ddd;
}

#customers th, #services th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

label {
    color: deepskyblue;
}

input[type=text], input[type=email], input[type=date], select, textarea {
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 300px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#form {
    width: 500px;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.1);
    padding: 20px;
}

.notify span {
    font-size: 15px;
    color: blue;
}