<h1>Xoá sản phẩm</h1>
<!--<form [formGroup]="deleteProductForm" (ngSubmit)="deleteProduct(id)">-->
  <table>

    <tr>
      <td>Id:</td>
<!--      <td><input type="number" formControlName="id" readonly></td>-->
      <td><input type="number" value="{{product.id}}" readonly></td>
    </tr>

    <tr>
      <td>Name:</td>
<!--      <td><input type="text" formControlName="name" readonly></td>-->
      <td><input type="text" value="{{product.name}}" readonly></td>
    </tr>

    <tr>
      <td>Price:</td>
<!--      <td><input type="number" formControlName="price" readonly></td>-->
      <td><input type="number" value="{{product.price}}" readonly></td>
    </tr>

    <tr>
      <td>Category</td>
      <td>
<!--        <select [compareWith]="compareFn" formControlName="category" >-->
<!--          <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>-->
<!--        </select>-->
        <input type="text" value="{{product.category.name}}" readonly>
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <button (click)="deleteProduct(product.id)">Delete</button>
      </td>
    </tr>

  </table>
<!--</form>-->
