<app-header></app-header>

<body style="background-attachment: fixed; background-position: center bottom;
      background-repeat: no-repeat;background-size: cover;
      object-fit: cover;">

<h3>Edit Customer</h3>

<p style="text-align: center;">
  <a href="../../../../../../customer/list.html" style="color: white">
    Back to list customer
  </a>
</p>

<div class="container" style="text-align: center">
  <div id="form" style="display: inline-block; text-align: left">

    <!--    <form action="/customers/update" method="post">-->
    <form [formGroup]="editCustomerForm" (ngSubmit)="onSubmit()" novalidate>
      <input type="hidden" id="customerId" name="customerId" value="1" formControlName="customerId">

      <div>
        <label for="code">Code: </label>
        <input readonly type="text" id="code" name="customerCode" value="KH-1111" formControlName="customerCode">
      </div>
      <div *ngIf="editCustomerForm.controls.customerCode.hasError &&
      (editCustomerForm.controls.customerCode.touched || editCustomerForm.controls.customerCode.dirty)">
        <div *ngIf="editCustomerForm.controls.customerCode.hasError('required')">
          <p class="error">Code is not valid!</p>
        </div>

        <div *ngIf="editCustomerForm.controls.customerCode.hasError('pattern')">
          <p class="error">Wrong format! Format should be KH-XXXX</p>
        </div>
      </div>

      <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="customerName" value="Nguyễn Thị Hào" formControlName="customerName">
      </div>
      <div *ngIf="editCustomerForm.controls.customerName.hasError &&
      (editCustomerForm.controls.customerName.touched || editCustomerForm.controls.customerName.dirty)">
        <div *ngIf="editCustomerForm.controls.customerName.hasError('required')">
          <p class="error">Customer name is not valid!</p>
        </div>

        <!--        <div *ngIf="createCustomerForm.controls.customerName.hasError('pattern')">-->
        <!--          <p class="error">Wrong format!</p>-->
        <!--        </div>-->
      </div>

      <div>
        <label for="birthday">Birthday: </label>
        <input type="date" id="birthday" name="customerBirthday" value="1970-11-07" formControlName="customerBirthday">
      </div>
      <div *ngIf="editCustomerForm.controls.customerBirthday.hasError &&
      (editCustomerForm.controls.customerBirthday.touched || editCustomerForm.controls.customerBirthday.dirty)">
        <div *ngIf="editCustomerForm.controls.customerBirthday.hasError('required')">
          <p class="error">Birthday is not valid!</p>
        </div>

        <!--        <div *ngIf="createCustomerForm.controls.customerBirthday.hasError('pattern')">-->
        <!--          <p class="error">Wrong format!</p>-->
        <!--        </div>-->
      </div>

      <div>
        <label for="gender">Gender</label>
        <select id="gender" name="customerGender" formControlName="customerGender">
          <option value="0" selected="selected">Nữ</option>
          <option value="1">Nam</option>
        </select>
      </div>
      <div *ngIf="editCustomerForm.controls.customerGender.hasError('required') &&
            (editCustomerForm.controls.customerGender.touched || editCustomerForm.controls.customerGender.dirty)">
        <p class="error">Gender is not valid!</p>
      </div>

      <div>
        <label for="idCard">Id card: </label>
        <input type="text" id="idCard" name="customerIdCard" value="111111111" formControlName="customerIdCard">
      </div>
      <div *ngIf="editCustomerForm.controls.customerIdCard.hasError &&
      (editCustomerForm.controls.customerIdCard.touched || editCustomerForm.controls.customerIdCard.dirty)">
        <div *ngIf="editCustomerForm.controls.customerIdCard.hasError('required')">
          <p class="error">Id card is not valid!</p>
        </div>

        <div *ngIf="editCustomerForm.controls.customerIdCard.hasError('pattern')">
          <p class="error">Wrong format! Format should be XXXXXXXXX or XXXXXXXXXXXX(X is number)!</p>
        </div>
      </div>

      <div>
        <label for="phone">Phone: </label>
        <input type="text" id="phone" name="customerPhone" value="0914545999" formControlName="customerPhone">
      </div>
      <div *ngIf="editCustomerForm.controls.customerPhone.hasError &&
      (editCustomerForm.controls.customerPhone.touched || editCustomerForm.controls.customerPhone.dirty)">
        <div *ngIf="editCustomerForm.controls.customerPhone.hasError('required')">
          <p class="error">Phone is not valid!</p>
        </div>

        <div *ngIf="editCustomerForm.controls.customerPhone.hasError('pattern')">
          <p class="error">Wrong format! Format should be 090xxxxxxx or 091xxxxxxx or (84)+90xxxxxxx or
            (84)+91xxxxxxx!</p>
        </div>
      </div>

      <div>
        <label for="email">Email: </label>
        <input type="text" id="email" name="customerEmail" value="thihao07@gmail.com"
               formControlName="customerEmail">
      </div>
      <div *ngIf="editCustomerForm.controls.customerEmail.hasError &&
      (editCustomerForm.controls.customerEmail.touched || editCustomerForm.controls.customerEmail.dirty)">
        <div *ngIf="editCustomerForm.controls.customerEmail.hasError('required')">
          <p class="error">Email is not valid!</p>
        </div>

        <div *ngIf="editCustomerForm.controls.customerEmail.hasError('email')">
          <p class="error">Wrong format!</p>
        </div>
      </div>

      <div>
        <label for="address">Address: </label>
        <input type="text" id="address" name="customerAddress" value="23 Nguyễn Hoàng, Đà Nẵng"
               formControlName="customerAddress">
      </div>
      <div *ngIf="editCustomerForm.controls.customerAddress.hasError &&
      (editCustomerForm.controls.customerAddress.touched || editCustomerForm.controls.customerAddress.dirty)">
        <div *ngIf="editCustomerForm.controls.customerAddress.hasError('required')">
          <p class="error">Address is not valid!</p>
        </div>
      </div>

      <div>
        <input type="hidden" id="deleteFlag" name="deleteFlag" value="true" formControlName="deleteFlag">
      </div>

      <div>
        <label for="customerType">Customer type: </label>
        <select id="customerType" name="customerTypeName" formControlName="customerTypeName">
          <option value="1">Diamond</option>
          <option value="2">Platinium</option>
          <option value="3">Gold</option>
          <option value="4">Silver</option>
          <option value="5" selected="selected">Member</option>
        </select>
      </div>
      <div *ngIf="editCustomerForm.controls.customerTypeName.hasError &&
      (editCustomerForm.controls.customerTypeName.touched || editCustomerForm.controls.customerTypeName.dirty)">
        <div *ngIf="editCustomerForm.controls.customerTypeName.hasError('required')">
          <p class="error">Type name is not valid!</p>
        </div>
      </div>


      <div style="text-align: center">
        <input [disabled]="!editCustomerForm.valid" type="submit" value="Update">
      </div>
    </form>

  </div>
</div>


<app-footer></app-footer>
