<h3>Danh sách các bài viết đã đăng</h3>
<!--<h4>-->
<!--    <a routerLink="@{/customers/create}">-->
<!--        Add new customer-->
<!--    </a>-->
<!--</h4>-->

<!--<button class="btn btn-primary" type="button">-->
<!--  <a style="color: black" class="delete_btn"-->
<!--     data-mdb-toggle="modal" data-mdb-target="#addService">FACILITY</a>-->
<!--</button>-->
<!--<div>-->
  <button class="btn btn-primary" type="button">
    <a style="color: black" class="delete_btn" routerLink="/them-moi"
       data-mdb-target="#addService">Thêm mới bài đăng</a>
  </button>

<!--  <button type="button" class="btn btn-danger me-3"-->
<!--          data-mdb-toggle="modal"-->
<!--          data-mdb-target="#modalDeleteMultiple">-->
<!--    Delete Multiple-->
<!--  </button>-->
<!--</div>-->
<br>

<!--<input type="text" class="form-control" name="name" [(ngModel)]="dienTich" (ngModelChange)="search()"-->
<!--       placeholder="Enter name to search">-->


<!-- Search form -->
<div class="navbar-nav ms-auto d-flex flex-row">
<!--  <input type="text" name="searchValue" placeholder="Service name search" [(ngModel)]="serviceNameSearchValue">-->
  <!--  <select name="searchSelect" class="form-select" aria-label="Default select example" [(ngModel)]="searchSelect" >-->
  <!--    <option selected value="1">Mã bệnh án</option>-->
  <!--    <option value="2">Mã bệnh nhân</option>-->
  <!--    <option value="3">Tên bệnh nhân</option>-->
  <!--  </select>-->

<!--    <input type="text" placeholder="Diện Tích"-->
<!--            [(ngModel)]="dienTichSearchValue">-->

<!--    <input type="text" placeholder="Giá" [(ngModel)]="giaSearchValue">-->

<!--Search Api-->
  <input type="text" placeholder="Diện tích"
  [(ngModel)]="dienTichTimKiem">

  <input type="text" placeholder="Giá"
         [(ngModel)]="giaTimKiem">

  <select [(ngModel)]="huongTimKiem">
    <option value=""></option>
    <option value="Đông">Đông</option>
    <option value="Tây">Tây</option>
    <option value="Nam">Nam</option>
    <option value="Bắc">Bắc</option>
  </select>


<!--  <input type="text" name="searchValue" placeholder="Description Other Convenience"-->
<!--         [(ngModel)]="descriptionOtherConvenienceSearchValue">-->

  <!--  <div class="navbar-nav ms-auto d-flex flex-row">-->
  <!--    <input type="date" name="searchStartDateValue" placeholder="Start Date">-->
  <!--    <input type="date" name="searchEndDateValue" placeholder="End Date">-->
  <!--    <select name="searchDateSelect" class="form-select" aria-label="Default select example">-->
  <!--      <option selected value="1">Ngày nhập viện</option>-->
  <!--      <option value="2">Ngày xuất viện</option>-->
  <!--    </select>-->
  <!--  </div>-->

  <button class="border-0" id="search-addon" (click)="searchJson()">Search</button>
</div>


<div class="notify">

</div>


<!--<div *ngIf="checkSearch == false">-->
<!--  <h3>Không tìm thấy!</h3>-->
<!--</div>-->

<!--<div [hidden]="checkSearch != true">-->
  <table id="services">

    <thead>
    <tr>
      <th>Tiêu đề</th>
      <th>Loại bài viết</th>
      <th>Danh mục</th>
      <th>Ngày đăng</th>
      <th>Trạng thái</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>

    <tbody *ngFor="let baiDang of baiDangs, index as i">
    <tr>
<!--      <td>-->
<!--        <input type="checkbox" (click)="addIdServiceToDeleteList(service.id)">-->
<!--      </td>-->
      <td>{{baiDang.tuaDe}}</td>
      <td>{{baiDang.loaiBaiViet}}</td>
      <td>{{baiDang.danhMuc.tenDanhMuc}}</td>
      <td>{{baiDang.ngayDang}}</td>
      <td>{{baiDang.trangThai}}</td>

      <td><a [routerLink]="['/sua', baiDang.id]">Sửa</a>
      </td>

      <td><a type="button" class="btn btn-danger btn-sm btn-rounded delete_btn" data-mdb-toggle="modal"
             data-mdb-target="#deleteModal"
             (click)="baiDangCanXoa(baiDang.id)">Xóa</a></td>

<!--      &lt;!&ndash;        <td><a th:href="@{/customers/view/{customerId}(customerId=${customer.customerId})}">View</a>&ndash;&gt;-->
<!--      &lt;!&ndash;        </td>&ndash;&gt;-->
<!--    </tr>-->
    </tbody>
  </table>




<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <input type="hidden" name="idDelete" id="idDelete">
      <div class="modal-header">
        <h5 class="modal-title">Xóa bài đăng</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa
          <span style="color: red" id="customerNameDelete">{{baiDangXoa.tuaDe}}</span>?</p>
        <p class="text-warning">*Thao tác này sẽ không thể hoàn tác*</p>
      </div>
      <div class="modal-footer">
        <button #closeModal type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="delete_btn" (click)="xoaBaiDang(closeModal, successBtn)">Submit
        </button>
      </div>
    </div>
  </div>
</div>

<button [hidden]="true" #successBtn data-mdb-toggle="modal" data-mdb-target="#successModal"></button>
<!--success modal-->
<div id="successModal" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-success">
    <div class="modal-content">
      <div class="modal-header modal-header-success justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <button type="button" class="close" data-mdb-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Tuyệt!</h4>
        <p>Xóa bài đăng thành công!</p>
        <button type="button" class="btn btn-danger" id="delete_btnn" data-mdb-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

