<!--<app-navbar></app-navbar>-->
<!--<app-header></app-header>-->
<!--<app-list-service></app-list-service>-->
<!--<app-create-service></app-create-service>-->
<!--<app-edit-service-villa></app-edit-service-villa>-->
<!--<app-edit-service-house></app-edit-service-house>-->
<!--<app-edit-service-room></app-edit-service-room>-->
<!--<app-list-customer></app-list-customer>-->
<!--<app-create-customer></app-create-customer>-->
<!--<app-edit-customer></app-edit-customer>-->
<!--<app-create-contract></app-create-contract>-->
<!--<app-list-contract></app-list-contract>-->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
